@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary: #2592F6;
  --grey-primary: #777777;
  --dark-grey: #293F53;
  --grey-bg: #F4F7FC;
  --green: #65AE1C;
  --gold: #D4A017;
  --silver-grey: #C0C0C0;
  --h2: 20px;
  --h3: 16px;
  --h4: 14px;
  --h5: 12px;
  --white: #ffff;
  --black: black;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  text-decoration: none;
  list-style: none;
  background-color: var(--grey-bg);
}

.sidebar {
  grid-column: span 2/span 2;
  background: var(--white);
  height: 100vh;
  width: 100%;
}
.sidebar .logo {
  padding-top: 10px;
}
.sidebar .navlist {
  padding-top: 40px;
}

.items {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  padding-top: 10px;
}

.dash {
  color: var(--dark-grey);
  font-size: var(--h4);
}

.h4 {
  font-size: var(--h3);
}

main {
  grid-column: span 10/span 10;
  background-color: var(--grey-bg);
  padding: 10px 16px;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  border: var(--white) solid 1px;
  background-color: var(--white);
}

.button {
  border: solid var(--primary) 1px transparent;
  background-color: var(--primary);
  border-radius: 5px;
}
.button .dash {
  color: var(--white);
}

.nav {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  padding-top: 20px;
}
.nav .white {
  border: solid var(--white) 1px transparent;
  background-color: var(--white);
  border-radius: 5px;
}
.nav .white .dash {
  color: var(--dark-grey);
}
.nav .white .blue {
  color: var(--primary);
}
.nav .button-item {
  padding: 0;
  margin: 0;
}

.course-list {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 30px;
}
.course-list .white {
  border: solid var(--white) 1px transparent;
  background-color: var(--white);
  border-radius: 5px;
  padding: 0px 16px;
  border-radius: 100px;
}
.course-list .blue {
  background-color: var(--primary);
}
.course-list .txt-w {
  color: var(--white);
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 20px;
  gap: 16px;
}

.blue {
  color: var(--primary);
}

.desc {
  padding-top: 10px;
  padding-left: 10px;
}

.subtittle {
  display: flex;
}

.button {
  padding: 2px 5px;
  border-radius: 2px;
}

.green {
  background-color: var(--green);
}

.silver {
  background-color: var(--silver-grey);
}

.gold {
  background-color: var(--gold);
}

.price {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.card-img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
}

.card-items {
  border: solid var(--white) 1px transparent;
  background-color: var(--white);
  border-radius: 5px;
  margin-top: -5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding-top: 30px;
  gap: 10px;
  grid-template-rows: repeat(6, 1fr);
}

.selection {
  grid-column: span 3/span 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  grid-row: span 3;
}

.select-items {
  border-radius: 6px;
}

.chat {
  grid-column: span 2/span 2;
  background-color: var(--white);
  height: 100vh;
  grid-row: span 6;
}

.composant {
  display: flex;
  gap: 5px;
}

.comp {
  padding-left: 10px;
}

.bottom {
  padding-bottom: 10px;
}

/*# sourceMappingURL=style.css.map */
